<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fbee.modules.mybatis.dao.AppsModulesMapper">
	<resultMap id="BaseResultMap"
		type="com.fbee.modules.mybatis.entity.AppsModulesEntity">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="type" jdbcType="INTEGER" property="type" />
	</resultMap>
	<sql id="Base_Column_List">
		id, type
	</sql>

	<insert id="insert" parameterType="com.fbee.modules.mybatis.entity.AppsModulesEntity">
		insert into apps_modules
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="type != null">
				type,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="com.fbee.modules.mybatis.entity.AppsModulesEntity">
		update apps_modules
		<set>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>