<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fbee.modules.mybatis.dao.OrderShareStaffInfoMapper">
  <resultMap id="BaseResultMap" type="com.fbee.modules.mybatis.model.OrderShareStaffInfo">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ORDER_NO" jdbcType="VARCHAR" property="orderNo" />
    <result column="TENANT_ID" jdbcType="INTEGER" property="tenantId" />
    <result column="STAFF_ID" jdbcType="INTEGER" property="staffId" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="add_account" jdbcType="VARCHAR" property="addAccount" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="modify_account" jdbcType="VARCHAR" property="modifyAccount" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ORDER_NO, TENANT_ID, STAFF_ID, REMARK, add_time, add_account, modify_time, modify_account
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_share_staff_info
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_share_staff_info
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fbee.modules.mybatis.model.OrderShareStaffInfo">
    insert into order_share_staff_info (ID, ORDER_NO, TENANT_ID, 
      STAFF_ID, REMARK, add_time, 
      add_account, modify_time, modify_account
      )
    values (#{id,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, #{tenantId,jdbcType=INTEGER}, 
      #{staffId,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, 
      #{addAccount,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyAccount,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fbee.modules.mybatis.model.OrderShareStaffInfo">
    insert into order_share_staff_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="orderNo != null">
        ORDER_NO,
      </if>
      <if test="tenantId != null">
        TENANT_ID,
      </if>
      <if test="staffId != null">
        STAFF_ID,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="addAccount != null">
        add_account,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="modifyAccount != null">
        modify_account,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=INTEGER},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addAccount != null">
        #{addAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyAccount != null">
        #{modifyAccount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fbee.modules.mybatis.model.OrderShareStaffInfo">
    update order_share_staff_info
    <set>
      <if test="orderNo != null">
        ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        TENANT_ID = #{tenantId,jdbcType=INTEGER},
      </if>
      <if test="staffId != null">
        STAFF_ID = #{staffId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addAccount != null">
        add_account = #{addAccount,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyAccount != null">
        modify_account = #{modifyAccount,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fbee.modules.mybatis.model.OrderShareStaffInfo">
    update order_share_staff_info
    set ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      TENANT_ID = #{tenantId,jdbcType=INTEGER},
      STAFF_ID = #{staffId,jdbcType=INTEGER},
      REMARK = #{remark,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      add_account = #{addAccount,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_account = #{modifyAccount,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>