<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fbee.modules.mybatis.dao.ReserveOrdersMapper">
  <resultMap id="BaseResultMap" type="com.fbee.modules.mybatis.model.ReserveOrders">
    <id column="ORDER_NO" jdbcType="VARCHAR" property="orderNo" />
    <result column="TENANT_ID" jdbcType="INTEGER" property="tenantId" />
    <result column="MEMBER_ID" jdbcType="INTEGER" property="memberId" />
    <result column="MEMBER_MOBILE" jdbcType="VARCHAR" property="memberMobile" />
    <result column="MEMBER_NAME" jdbcType="VARCHAR" property="memberName" />
    <result column="MEMBER_SEX" jdbcType="VARCHAR" property="memberSex" />
    <result column="STAFF_ID" jdbcType="INTEGER" property="staffId" />
    <result column="SERVICE_ITEM_CODE" jdbcType="VARCHAR" property="serviceItemCode" />
    <result column="ORDER_TIME" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="ORDER_STATUS" jdbcType="VARCHAR" property="orderStatus" />
    <result column="HANDLE_ORDER_TIME" jdbcType="TIMESTAMP" property="handleOrderTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ORDER_NO, TENANT_ID, MEMBER_ID, MEMBER_MOBILE, MEMBER_NAME, MEMBER_SEX, STAFF_ID, 
    SERVICE_ITEM_CODE, ORDER_TIME, ORDER_STATUS, HANDLE_ORDER_TIME
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from reserve_orders
    where ORDER_NO = #{orderNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fbee.modules.mybatis.model.ReserveOrders">
    insert into reserve_orders (ORDER_NO, TENANT_ID, MEMBER_ID, 
      MEMBER_MOBILE, MEMBER_NAME, MEMBER_SEX, 
      STAFF_ID, SERVICE_ITEM_CODE, ORDER_TIME, 
      ORDER_STATUS, HANDLE_ORDER_TIME)
    values (#{orderNo,jdbcType=VARCHAR}, #{tenantId,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, 
      #{memberMobile,jdbcType=VARCHAR}, #{memberName,jdbcType=VARCHAR}, #{memberSex,jdbcType=VARCHAR}, 
      #{staffId,jdbcType=INTEGER}, #{serviceItemCode,jdbcType=VARCHAR}, #{orderTime,jdbcType=TIMESTAMP}, 
      #{orderStatus,jdbcType=VARCHAR}, #{handleOrderTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fbee.modules.mybatis.model.ReserveOrders">
    insert into reserve_orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        ORDER_NO,
      </if>
      <if test="tenantId != null">
        TENANT_ID,
      </if>
      <if test="memberId != null">
        MEMBER_ID,
      </if>
      <if test="memberMobile != null">
        MEMBER_MOBILE,
      </if>
      <if test="memberName != null">
        MEMBER_NAME,
      </if>
      <if test="memberSex != null">
        MEMBER_SEX,
      </if>
      <if test="staffId != null">
        STAFF_ID,
      </if>
      <if test="serviceItemCode != null">
        SERVICE_ITEM_CODE,
      </if>
      <if test="orderTime != null">
        ORDER_TIME,
      </if>
      <if test="orderStatus != null">
        ORDER_STATUS,
      </if>
      <if test="handleOrderTime != null">
        HANDLE_ORDER_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberMobile != null">
        #{memberMobile,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberSex != null">
        #{memberSex,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="serviceItemCode != null">
        #{serviceItemCode,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null">
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="handleOrderTime != null">
        #{handleOrderTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fbee.modules.mybatis.model.ReserveOrders">
    update reserve_orders
    <set>
      <if test="tenantId != null">
        TENANT_ID = #{tenantId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null">
        MEMBER_ID = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberMobile != null">
        MEMBER_MOBILE = #{memberMobile,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        MEMBER_NAME = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberSex != null">
        MEMBER_SEX = #{memberSex,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null">
        STAFF_ID = #{staffId,jdbcType=INTEGER},
      </if>
      <if test="serviceItemCode != null">
        SERVICE_ITEM_CODE = #{serviceItemCode,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null">
        ORDER_TIME = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null">
        ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="handleOrderTime != null">
        HANDLE_ORDER_TIME = #{handleOrderTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ORDER_NO = #{orderNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fbee.modules.mybatis.model.ReserveOrders">
    update reserve_orders
    set TENANT_ID = #{tenantId,jdbcType=INTEGER},
      MEMBER_ID = #{memberId,jdbcType=INTEGER},
      MEMBER_MOBILE = #{memberMobile,jdbcType=VARCHAR},
      MEMBER_NAME = #{memberName,jdbcType=VARCHAR},
      MEMBER_SEX = #{memberSex,jdbcType=VARCHAR},
      STAFF_ID = #{staffId,jdbcType=INTEGER},
      SERVICE_ITEM_CODE = #{serviceItemCode,jdbcType=VARCHAR},
      ORDER_TIME = #{orderTime,jdbcType=TIMESTAMP},
      ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
      HANDLE_ORDER_TIME = #{handleOrderTime,jdbcType=TIMESTAMP}
    where ORDER_NO = #{orderNo,jdbcType=VARCHAR}
  </update>
   
	 <!-- 预约订单列表总数 -->
	<select id="getReserveOrdersCount" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select
		count(0)
		from RESERVE_ORDERS
		where TENANT_ID =
		#{tenantId,jdbcType=INTEGER}
		<if test="orderStatus!='' and orderStatus!=null">
			and ORDER_STATUS = #{orderStatus}
		</if>
		<if test="orderNo!='' and orderNo!=null">
			and ORDER_NO = #{orderNo}
		</if>
		<if test="memberMobile!='' and memberMobile!=null">
			and MEMBER_MOBILE = #{memberMobile}
		</if>
		<if test="memberName!='' and memberName!=null">
			and MEMBER_NAME = #{memberName}
		</if>
		<if test="serviceItemCode!='' and serviceItemCode!=null">
			and SERVICE_ITEM_CODE =
			#{serviceItemCode}
		</if>
		<if test="orderTimeLeft!='' and orderTimeLeft!=null">
			and ORDER_TIME >= #{orderTimeLeft}
		</if>
		<if test="orderTimeRight!='' and orderTimeRight!=null">
			and ORDER_TIME <![CDATA[<]]> #{orderTimeRight}
		</if>

	</select>
	 <!-- 预约订单列表查询 -->
	<select id="getReserveOrdersList" parameterType="map"
		resultType="com.fbee.modules.mybatis.entity.ReserveOrdersEntity">
		select
		a.ORDER_NO "orderNo",
		a.MEMBER_MOBILE "memberMobile",
		a.MEMBER_NAME "memberName",
		FUNC_GET_CODE_NAME (
		'SERVICE_TYPES',
		a.SERVICE_ITEM_CODE,
		'1'
		) 'serviceItemCode',
		DATE_FORMAT(a.ORDER_TIME,'%Y-%m-%d %H:%i:%s') "orderTime",
		b.SERVICE_PROVICE "serviceProvince",
		b.SERVICE_CITY "serviceCity",
		b.SERVICE_COUNTY "serviceCounty",
		c.STAFF_NAME "staffName",
		c.HEAD_IMAGE "headImage",
		c.AGE "age",
		FUNC_GET_CODE_NAME
		('ZODIAC', c.ZODIAC,'1')
		'zodiac',
		FUNC_GET_CODE_NAME (
		'NATIVE_PLACE',
		c.NATIVE_PLACE,'1'
		) 'nativePlace'

		from RESERVE_ORDERS a,
		reserve_orders_customer_info b,
		tenants_staffs_info c
		where
		a.TENANT_ID =#{tenantId,jdbcType=INTEGER}
		and	a.ORDER_NO = b.ORDER_NO
		and a.STAFF_ID = c.STAFF_ID
		<if test="orderStatus!='' and orderStatus!=null">
			and ORDER_STATUS = #{orderStatus}
		</if>
		<if test="orderNo!='' and orderNo!=null">
			and ORDER_NO = #{orderNo}
		</if>
		<if test="memberMobile!='' and memberMobile!=null">
			and MEMBER_MOBILE = #{memberMobile}
		</if>
		<if test="memberName!='' and memberName!=null">
			and MEMBER_NAME = #{memberName}
		</if>
		<if test="serviceItemCode!='' and serviceItemCode!=null">
			and SERVICE_ITEM_CODE =
			#{serviceItemCode}
		</if>
		<if test="orderTimeLeft!='' and orderTimeLeft!=null">
			and ORDER_TIME > #{orderTimeLeft}
		</if>
		<if test="orderTimeRight!='' and orderTimeRight!=null">
			and ORDER_TIME &lt; #{orderTimeRight}
		</if>
		order by a.ORDER_TIME desc
		limit #{offset},#{pageSize}
	</select>
	<!-- 总控平台开始 -->
	<!--总控平台-预约订单列表总数 -->
	<select id="getResOrdersCount" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select
		    count(0)
		FROM
				         RESERVE_ORDERS a
			LEFT JOIN    reserve_orders_customer_info b
	           			 ON a.ORDER_NO = b.ORDER_NO
	        LEFT JOIN    tenants_staffs_info c
	           			 ON  a.STAFF_ID = c.STAFF_ID 
	                     and a.TENANT_ID=c.TENANT_ID
	        LEFT JOIN    tenants_apps s
	            		 on  a.TENANT_ID=s.TENANT_ID
	        LEFT JOIN    tenants_staff_ser_items d
	            		  on a.STAFF_SER_ITEM_ID = d.id
	        where    1=1
		<if test="orderStatus!='' and orderStatus!=null">
			and a.ORDER_STATUS = #{orderStatus}
		</if>
		<if test="orderNo!='' and orderNo!=null">
			and a.ORDER_NO  LIKE concat(concat('%',#{orderNo}),'%')
		</if>
		<if test="memberMobile!='' and memberMobile!=null">
			 AND a.MEMBER_MOBILE LIKE concat(concat('%',#{memberMobile}),'%')
		</if>
		<if test="memberName!='' and memberName!=null">
			AND a.MEMBER_NAME LIKE concat(concat('%',#{memberName}),'%')
		</if>
		<if test="serviceItemCode!='' and serviceItemCode!=null">
			and a.SERVICE_ITEM_CODE =#{serviceItemCode}
		</if>
		<if test="orderTimeLeft!='' and orderTimeLeft!=null">
			and DATE_FORMAT(a.ORDER_TIME,'%Y-%m-%d')   <![CDATA[>=]]> #{orderTimeLeft}
		</if>
		<if test="orderTimeRight!='' and orderTimeRight!=null">
			and DATE_FORMAT(a.ORDER_TIME,'%Y-%m-%d')   <![CDATA[<=]]> #{orderTimeRight}
		</if>
	</select>
	<!-- 总控平台-预约订单列表查询 -->
	<select id="getResOrdersList" parameterType="map"
		resultType="map">
	SELECT
		DATE_FORMAT(a.ORDER_TIME,'%Y-%m-%d %H:%i:%s') "orderTime",
		a.ORDER_NO "orderNo",
		a.SERVICE_ITEM_CODE "serviceItemCode",
		a.MEMBER_MOBILE "memberMobile",
		a.MEMBER_NAME "memberName",
		a.MEMBER_SEX "memberSex",
		b.SERVICE_PROVICE "serviceProvice",
		b.SERVICE_CITY "serviceCity",
		b.SERVICE_COUNTY "serviceCounty",
		c.STAFF_NAME "staffName",
		j.PRICE "price",
		s.WEBSITE_NAME "tenantName",
		a.ORDER_STATUS "orderStatus"
	FROM
		   RESERVE_ORDERS a
	LEFT JOIN reserve_orders_customer_info b ON     a.ORDER_NO = b.ORDER_NO
	LEFT JOIN tenants_staffs_info c ON     a.STAFF_ID = c.STAFF_ID and a.TENANT_ID=c.TENANT_ID
		LEFT JOIN tenants_staff_job_info j ON     c.STAFF_ID = j.STAFF_ID
	LEFT JOIN tenants_apps s on    a.TENANT_ID=s.TENANT_ID
	LEFT JOIN tenants_staff_ser_items d on a.STAFF_SER_ITEM_ID = d.id
	  where  1=1
		<if test="orderStatus!='' and orderStatus!=null">
			and a.ORDER_STATUS = #{orderStatus}
		</if>
		<if test="orderNo!='' and orderNo!=null">
			and a.ORDER_NO  LIKE concat(concat('%',#{orderNo}),'%')
		</if>
		<if test="memberMobile!='' and memberMobile!=null">
			 AND a.MEMBER_MOBILE LIKE concat(concat('%',#{memberMobile}),'%')
		</if>
		<if test="memberName!='' and memberName!=null">
			AND a.MEMBER_NAME LIKE concat(concat('%',#{memberName}),'%')
		</if>
		<if test="serviceItemCode!='' and serviceItemCode!=null">
			and a.SERVICE_ITEM_CODE =#{serviceItemCode}
		</if>
		<if test="orderTimeLeft!='' and orderTimeLeft!=null">
			and DATE_FORMAT(a.ORDER_TIME,'%Y-%m-%d')   <![CDATA[>=]]> #{orderTimeLeft}
		</if>
		<if test="orderTimeRight!='' and orderTimeRight!=null">
			and DATE_FORMAT(a.ORDER_TIME,'%Y-%m-%d')   <![CDATA[<=]]> #{orderTimeRight}
		</if>
		order by a.ORDER_TIME desc
		limit #{offset},#{pageSize}
	</select>
	<!-- 总控平台结束 -->
	
   <!-- 预约订单详情-预约信息 -->
  <select id="selectReserveByOrderNo" parameterType="java.lang.String" resultType="java.util.Map">
    select 
    ORDER_NO, ORDER_TIME, HANDLE_ORDER_TIME
    from reserve_orders
    where ORDER_NO = #{orderNo,jdbcType=VARCHAR}
  </select>
  
  <!-- 预约订单详情-员工信息 -->
  <select id="selectStaffByOrderNo" parameterType="java.lang.String" resultType="java.util.Map">
  		 select 
  	  ORDER_NO 'orderNo',
  	  STAFF_NAME 'staffName',
  	  HEAD_IMAGE 'headImage',
  	  AGE 'age',
  	  FUNC_GET_CODE_NAME (
		'ZODIAC',
		ZODIAC,
		'1'
		) 'zodiac',
  	  FUNC_GET_CODE_NAME (
		'NATIVE_PLACE',
		NATIVE_PLACE,
		'1'
		) 'nativePlace',
		FUNC_GET_CODE_NAME (
		'CONSTELLATION',
		CONSTELLATION,
		'1'
		) 'constellation',
		
		FUNC_GET_CODE_NAME (
		'EDUCARION',
		EDUCARION,
		'1'
		) 'educarion',
 	  PRICE 'price',
 	 FUNC_GET_CODE_NAME (
		'WORK_STATUS',
		WORK_STATUS,
		'1' 
		) 'workStatus',
  	  EXPERIENCE 'experience'
  	  from  reserve_orders a,
  	  tenants_staffs_info b, tenants_staff_ser_items c
  	  where  a.ORDER_NO = #{orderNo,jdbcType=VARCHAR}
  	  and a.STAFF_ID = b.STAFF_ID
  	  and a.STAFF_ID = c.STAFF_ID
  	  and a.TENANT_ID = c.TENANT_ID
  	  and a.SERVICE_ITEM_CODE = c.SERVICE_ITEM_CODE
  </select>
  
  <!-- 预约订单详情-完成处理更新reserveorder表 -->
	 <update id="updateReserveByOrderNo" parameterType="com.fbee.modules.mybatis.entity.ReserveOrdersEntity">
    update reserve_orders
    <set>
      <if test="tenantId != null and tenantId != ''">
        TENANT_ID = #{tenantId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null and memberId != ''">
        MEMBER_ID = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberMobile != null and memberMobile != ''">
        MEMBER_MOBILE = #{memberMobile,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null and memberName != ''">
        MEMBER_NAME = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberSex != null and memberSex != ''">
        MEMBER_SEX = #{memberSex,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null and staffId != ''">
        STAFF_ID = #{staffId,jdbcType=INTEGER},
      </if>
      <if test="serviceItemCode != null and serviceItemCode != ''">
        SERVICE_ITEM_CODE = #{serviceItemCode,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null and orderTime != ''">
        ORDER_TIME = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null and orderStatus != ''">
        ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="handleOrderTime != null and handleOrderTime != ''">
        HANDLE_ORDER_TIME = #{handleOrderTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ORDER_NO = #{orderNo,jdbcType=VARCHAR}
  </update>
 
</mapper>