<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fbee.modules.mybatis.dao.TenantsRolesMenusMapper">
	<resultMap id="BaseResultMap"
		type="com.fbee.modules.mybatis.entity.TenantsRolesMenusEntity">
		<id column="menu_id" jdbcType="INTEGER" property="menuId" />
		<id column="role_id" jdbcType="INTEGER" property="roleId" />
		<id column="tenant_id" jdbcType="INTEGER" property="tenantId" />
	</resultMap>

	<insert id="insert"
		parameterType="com.fbee.modules.mybatis.entity.TenantsRolesMenusEntity">
		insert into tenants_roles_menus
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="menuId != null">
				menu_id,
			</if>
			<if test="roleId != null">
				role_id,
			</if>
			<if test="tenantId != null">
				tenant_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="menuId != null">
				#{menuId,jdbcType=INTEGER},
			</if>
			<if test="roleId != null">
				#{roleId,jdbcType=INTEGER},
			</if>
			<if test="tenantId != null">
				#{tenantId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
</mapper>