<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fbee.modules.mybatis.dao.TenantsStaffSerItemsMapper">
	<resultMap id="BaseResultMap"
		type="com.fbee.modules.mybatis.entity.TenantsStaffSerItemsEntity">
		<id column="STAFF_ID" jdbcType="INTEGER" property="staffId" />
		<id column="TENANT_ID" jdbcType="INTEGER" property="tenantId" />
		<id column="SERVICE_ITEM_CODE" jdbcType="VARCHAR" property="serviceItemCode" />
		<result column="EXPERIENCE" jdbcType="VARCHAR" property="experience" />
		<result column="PRICE" jdbcType="DECIMAL" property="price" />
		<result column="SKILLS" jdbcType="VARCHAR" property="skills" />
		<result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
		<result column="add_account" jdbcType="VARCHAR" property="addAccount" />
		<result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
		<result column="modify_account" jdbcType="VARCHAR" property="modifyAccount" />
		<result column="SERVICE_NATURE" jdbcType="VARCHAR" property="serviceNature" />
	</resultMap>
	<sql id="Base_Column_List">
		STAFF_ID, TENANT_ID, SERVICE_ITEM_CODE, EXPERIENCE, PRICE, SKILLS, add_time,
		add_account,
		modify_time, modify_account,SERVICE_NATURE
	</sql>

	<select id="getStaffServiceItemsByKey"
		parameterType="com.fbee.modules.mybatis.model.TenantsStaffSerItemsKey"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tenants_staff_ser_items
		where STAFF_ID = #{staffId,jdbcType=INTEGER}
		and TENANT_ID = #{tenantId,jdbcType=INTEGER}
		and SERVICE_ITEM_CODE = #{serviceItemCode,jdbcType=VARCHAR}
	</select>
	
	<select id="getStaffServiceItems"
		parameterType="com.fbee.modules.mybatis.entity.TenantsStaffSerItemsEntity"
		resultMap="BaseResultMap">
		select
		STAFF_ID, TENANT_ID, SERVICE_ITEM_CODE
		from tenants_staff_ser_items
		where STAFF_ID = #{staffId,jdbcType=INTEGER}
		and TENANT_ID = #{tenantId,jdbcType=INTEGER}
	</select>
	
	<insert id="insert"
		parameterType="com.fbee.modules.mybatis.entity.TenantsStaffSerItemsEntity">
		insert into tenants_staff_ser_items
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="staffId != null">
				STAFF_ID,
			</if>
			<if test="tenantId != null">
				TENANT_ID,
			</if>
			<if test="serviceItemCode != null">
				SERVICE_ITEM_CODE,
			</if>
			<if test="experience != null">
				EXPERIENCE,
			</if>
			<if test="price != null">
				PRICE,
			</if>
			<if test="skills != null">
				SKILLS,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
			<if test="addAccount != null">
				add_account,
			</if>
			<if test="modifyTime != null">
				modify_time,
			</if>
			<if test="serviceNature != null">
				SERVICE_NATURE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="staffId != null">
				#{staffId,jdbcType=INTEGER},
			</if>
			<if test="tenantId != null">
				#{tenantId,jdbcType=INTEGER},
			</if>
			<if test="serviceItemCode != null">
				#{serviceItemCode,jdbcType=VARCHAR},
			</if>
			<if test="experience != null">
				#{experience,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				#{price,jdbcType=DECIMAL},
			</if>
			<if test="skills != null">
				#{skills,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=TIMESTAMP},
			</if>
			<if test="addAccount != null">
				#{addAccount,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				#{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyAccount != null">
				#{modifyAccount,jdbcType=VARCHAR},
			</if>
			<if test="serviceNature != null">
				#{serviceNature,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="update"
		parameterType="com.fbee.modules.mybatis.entity.TenantsStaffSerItemsEntity">
		update tenants_staff_ser_items
		<set>
			<if test="experience != null">
				EXPERIENCE = #{experience,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				PRICE = #{price,jdbcType=DECIMAL},
			</if>
			<if test="skills != null">
				SKILLS = #{skills,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=TIMESTAMP},
			</if>
			<if test="addAccount != null">
				add_account = #{addAccount,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				modify_time = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyAccount != null">
				modify_account = #{modifyAccount,jdbcType=VARCHAR},
			</if>
			<if test="serviceNature != null">
				SERVICE_NATURE = #{serviceNature,jdbcType=VARCHAR},
			</if>
		</set>
		where STAFF_ID = #{staffId,jdbcType=INTEGER}
		and TENANT_ID = #{tenantId,jdbcType=INTEGER}
		and SERVICE_ITEM_CODE = #{serviceItemCode,jdbcType=VARCHAR}
	</update>
	
	<select id="getServiceItemsByStaffId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tenants_staff_ser_items
		where STAFF_ID = #{staffId,jdbcType=INTEGER}
	</select>
	
	<select id="get"
		parameterType="com.fbee.modules.mybatis.entity.TenantsStaffSerItemsEntity"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tenants_staff_ser_items
		<where>
			<if test="staffId != null">
				STAFF_ID = #{staffId,jdbcType=VARCHAR}
			</if>
			<if test="serviceItemCode != null and serviceItemCode !=''">
				and SERVICE_ITEM_CODE = #{serviceItemCode,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
</mapper>