[project]
	description = ???-??
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lzcrwxl
[access "refs/for/refs/*"]
	read = group user/lzcrwxl
	push = group user/lzcrwxl
	label-Code-Review = -2..+2 group user/lzcrwxl
	label-Verified = -1..+1 group user/lzcrwxl
	rebase = group user/lzcrwxl
	removeReviewer = group user/lzcrwxl
	submit = group user/lzcrwxl
[access "refs/heads/*"]
	read = group user/lzcrwxl
	create = group user/lzcrwxl
	push = +force group user/lzcrwxl
	pushMerge = group user/lzcrwxl
[access "refs/tags/*"]
	push = group user/lzcrwxl
	push = +force group user/lzcrwxl
