body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,section,article,aside,header,footer,nav,dialog,figure,figcaption,hgroup { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
h1,h2,h3,h4,h5,h6 { font-weight:normal; font-size:100%; }
ul,ol,li { list-style:none; }
em,i,b { font-style:normal;font-weight: normal; }
img { border:0; }
input,button,img { vertical-align:middle; }
input:focus { outline:0; }
a {text-decoration:none;}
* { -webkit-tap-highlight-color:rgba(0,0,0,0); margin: 0;padding: 0;}
body { font-family:"微软雅黑"; font-size: 12px;color:#333333;background-color: #F4F4F4;}
textarea {font-size: 14px;}

.clearfix:after { content: "." ; display: block ;height: 0 ;clear: both ;visibility: hidden ;}
#layer {position: fixed;top: 0;left: 0;right:0;bottom:0;background-color:#000000;z-index:100;-moz-opacity: 0.3;opacity:.30;filter: alpha(opacity=30);display: none;}
input[type="text"] {padding-left: 6px;border: 1px solid #CCCCCC;}
input[type="submit"],button {font-family:"微软雅黑";cursor: pointer;}

/*头部*/
#header {height: 88px;padding: 0 33px;background-color: #30314E;box-shadow: 0 0 25px 1px #30314E;min-width: 1050px;position: relative;z-index: 10;}
#header .logo {float:left;width:283px;height: 66px;padding-top: 11px;}
#header .h-right {float: right;text-align: right;}
#header .h-right .account {margin-top: 8px;}
#header .h-right .account ul li {border-left: 1px solid #FFF;margin-left: 16px;display: inline-block;}
#header .h-right .account ul li:first-child {border: none;}
#header .h-right .account ul li a {margin-left: 16px;color: #FFF;cursor: pointer;}
#header .h-right .navigator {margin-top: 16px;}
#header .h-right .navigator ul li {float: left;margin-left: 2px;}
#header .h-right .navigator ul li a {padding: 0 30px;color: #FFF;font-size: 16px;cursor: pointer;height: 45px;line-height: 45px;display: block;}
#header .h-right .navigator ul li .navi-on {color: #30314E;background-color: #FFF;}
#header .h-right .navigator ul li a:hover {color: #30314E;background-color: #FFF;}

/*框*/
.frame {padding: 0 15px 35px 15px;background-color: #FFF;min-width: 1000px;margin: 18px;}
/*标题*/
.title {padding-top: 20px;}
.clearfix>.title {float: left;}
.title i {display:block;padding-left: 14px;height: 16px;line-height: 16px; border-left: 2px solid #0A7EE3;font-size: 16px;font-weight: bold;}
/*路径*/
.paths {height: 24px;line-height: 32px;padding:10px 0 0 15px;}
.paths a {color:#4c4c4c;}
/*修改按钮*/
.revise {display:inline-block;width: 14px;height: 14px;background: url(../img/revise.png) no-repeat;margin-left: 15px;cursor: pointer;}
/*蓝色按钮*/
.b-btn {padding: 6px 26px;color: #FFF;background-color: #0A7EE3;cursor: pointer;}
.b-btn:visited {color: #FFF;}
/*蓝色小按钮*/
.b-sbtn {padding: 0 16px;color: #FFF;background-color: #0A7EE3;cursor: pointer;height: 28px;line-height: 28px;display: inline-block;}
.b-sbtn:visited {color: #FFF;}
/*滑动按钮*/
.checkbox {position: relative;top: 3px; display: inline-block;text-align: center;width: 32px;height: 16px;overflow: hidden;background-color: #B3B3B3;border-radius: 46px;cursor: pointer;}
.checkbox em {top:1px;left:1px;width: 14px;height: 14px;position: absolute;border-radius: 100%;background-color: #FFF;}
.checkbox input {position: absolute;left: 0;top: 0;width: 100%;height: 100%;-moz-opacity: 0;opacity:0;filter: alpha(opacity=0);cursor: pointer;}
/*选择上传*/
.upload-sel {font-size: 12px;}
.upload-sel a {display: inline-block;text-align: center; width: 44px;height: 18px;line-height: 18px; color: #FFF;background-color: #0A7EE3;margin-right: 14px;cursor: pointer;position: relative;}
.upload-sel a input {position: absolute;left: 0;right: 0; width: 100%;height: 100%;-moz-opacity: 0;opacity:0;filter: alpha(opacity=0);cursor: pointer;font-size: 0;}
/*图片管理*/
.pic-manage label {margin-bottom: 10px;display: inline-block;}
.pic-manage label input[type="radio"] {margin-right: 10px;}
.pic-manage .limit {font-size: 12px;}
.pic-manage .limit i {color: #FF411B;}
.pic-manage p {padding-left: 24px;font-size: 12px;}
.pic-manage .upload-sel a {background-color: #DBDBDB;cursor: default}
.pic-manage .upload-sel a input[type="file"] {cursor: default;}
/*编辑*/
.edit {float: right;display: block;width: 18px;height: 18px;background:url(../image/Satyr_on.png) -0px -25px;cursor: pointer;}

/*分页*/
#pagination {float: right;margin-top: 20px;}
#pagination a,#pagination span {display: inline-block;margin-left: 15px; padding: 0 10px;border: 1px solid #B3B3B3;height: 26px;line-height: 28px;color: #4C4C4C;}
#pagination a {cursor: pointer;}
#pagination .current {border-color: #0A7EE3;background-color: #0A7EE3;color: #FFFFFF;}
#pagination .prev,#pagination .next {border-color: #B3B3B3;background-color: #FFFFFF;color: #4C4C4C;}
/*#pagination {float: right;margin-top: 20px;}
#pagination a {cursor: pointer;display: inline-block;margin-left: 15px; padding: 0 10px;border: 1px solid #B3B3B3;height: 26px;line-height: 28px;color: #4C4C4C;}*/

/*收银台*/
.frame .cashierDesk {width: 100%;}
.frame .cashierDesk table {width: 502px;margin: 48px 0 0 72px;text-align: right;}
.frame .cashierDesk table input[type="text"] {width: 366px;height: 42px;line-height: 42px;padding-left: 12px;}
.frame .cashierDesk table tr {height: 60px;}
.frame .cashierDesk table tr td:first-child {font-size: 16px;}
.frame .cashierDesk .available {vertical-align: top;height: 32px;}
.frame .cashierDesk .available p {font-size: 12px;color: #808080;padding-left: 22px;text-align: left;}
.frame .cashierDesk .available p a {color: #677FDA;cursor: pointer;}
.frame .cashierDesk input[type="submit"] {margin:60px 0 0 92px;width: 468px;height: 48px;border: none;background-color: #0A7EE3;color: #FFF;font-size: 24px;cursor: pointer;}

.frame .deposit table {width: 605px;}
.frame .deposit table tr {height: 65px;}
.frame .deposit table label {margin-right: 48px;}
.frame .deposit table tr td a {display: inline-block;width: 62px;height: 30px;line-height: 30px; border: 1px solid #F0F0F0;background-color: #F0F0F0;color: #808080;text-align: center;cursor: pointer;}
.frame .deposit table tr td .dep_on {border-color: #0A7EE3;background-color: #FFFFFF;color: #333333;}

.hint {color: #808080;line-height: 22px;margin-left: 18px;}
.hint h3 {font-size: 16px;margin-bottom: 4px;}
.hint p {text-indent: 16px;}
/*弹出层*/
.prompt {width: 530px;height: 336px;background-color: #FFF;position: fixed;z-index: 101;left: 50%;top: 50%;margin-left: -265px;margin-top: -168px;text-align: center;display: none;}
.prompt img {margin-top: 50px;}
.prompt p {margin: 48px 0 40px 0;}

/*重置密码*/
.resetPassword {margin: 30px 0 0 40px;}
.resetPassword p {height: 44px;margin-bottom: 22px;font-size: 16px;line-height: 44px;}
.resetPassword p label {display: inline-block;width: 96px;text-align: right;margin-right: 20px;}
.resetPassword p span input[type='text'] {width: 242px;height: 42px;font-size: 16px;vertical-align: bottom;}
.resetPassword p span a {display: inline-block;width: 120px;height: 100%;background-color: #0A7EE3;text-align: center;color: #FFFFFF;cursor: pointer;margin-left: 6px;}
.resetPassword button {width: 380px;height: 48px;background-color: #0A7EE3;color: #FFFFFF;border: none;font-size: 24px;margin-left: 121px;margin-top: 58px;}
.resetPassword .captcha span img {width: 120px;height: 100%;}

/*日期*/
.runcode {background: url(../time/images/iconDate.png) right 16px center no-repeat;cursor: pointer;width: 166px;height: 22px;}

/*验证提示*/
.validation {margin-left: 10px;color: #FF411B;}


/*保存成功*/
#toast {width: 120px;height: 36px;line-height: 36px;position: fixed;top: 50%;left: 50%;margin-left: -60px;margin-top: -18px;background-color:#000000;z-index:200;-moz-opacity: 0.5;opacity:.50;filter: alpha(opacity=50);color: #FFFFFF;font-size: 16px;text-align: center;}